/* GOOGLE FONT - Noto Serif, Inter  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* font vars */
  --font-nato-serif: "Noto Serif", serif;
  --font-inter: "Inter", sans-serif;

  /* color vars */
  --forest-fire: #e95a08;
  --washed-out-purple: #8987a1;
  --lyla: #000000;
  --full-white: #ffffff;
}

/* COMMON STYLES FOR WHOLE PROJECT */
a {
  font-size: 1rem;
  text-decoration: none;
}

li {
  list-style: none;
}

.flex {
  display: flex;
  align-items: center;
}

.between {
  justify-content: space-between;
}

.gap-3 {
  gap: 3rem;
}

.wrapper {
  max-width: 1140px;
  margin: auto;
  padding-inline: 1rem;
}

.font-washed-out-purple {
  color: var(--washed-out-purple);
}

.font-lyla {
  color: var(--lyla);
}

/* HEADER SECTION STYLES */
.navigation-link {
  font-family: var(--font-inter);
  font-weight: 700;
  line-height: 24px;
  letter-spacing: normal;
}

.header-container {
  min-height: 7vh;
}

/* HERO SECTION STYLES */
.fresh-flowers-section {
}

.fresh-flowers-container {
  min-height: 46vh;
  margin: 120px auto;
  align-items: end;
}

.fresh-flowers-content .fresh-flowers-title {
  font-family: var(--font-nato-serif);
  font-weight: 700;
  font-size: 4rem;
  line-height: 100%;
  letter-spacing: normal;
}

.fresh-flowers-title .title-dark {
  color: var(--lyla);
}

.fresh-flowers-title .title-highlight {
  color: var(--forest-fire);
}

.fresh-flowers-content {
  max-width: 570px;
}

.fresh-flowers-content .fresh-flowers-description {
  color: var(--washed-out-purple);
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 100%;
  letter-spacing: normal;
  margin-top: 0.8rem;
}

.fresh-flowers-image-wrapper {
  max-width: 570px;
}

.fresh-flowers-image {
  width: 100%;
}

/* SECTIONS SECTION STYLES */

/* PLANTS SECTION */
.plants-section {
  margin: 7.5rem auto 13rem auto;
}

.plants-header {
  max-width: 888px;
  margin: auto;
}

.plants-title {
  color: var(--lyla);
  font-family: var(--font-nato-serif);
  font-weight: 700;
  font-size: 3.1rem;
  line-height: 100%;
  letter-spacing: normal;
  text-align: center;
}

.title-highlight {
  color: var(--forest-fire);
}

.plants-description {
  color: var(--washed-out-purple);
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 100%;
  letter-spacing: normal;
  text-align: center;
  padding: 1rem 0 3.1rem 0;
}

.plants-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(270px, 1fr));
  column-gap: 20px;
  row-gap: 50px;
}

.plant-card {
  max-width: 270px;
  height: 480px;
  gap: 30px;
}

.plant-image-wrapper {
  max-width: 270px;
}

.plant-image {
  width: 100%;
}

.plant-content {
  max-width: 130px;
  margin: 0 auto;
  text-align: center;
}

.plant-name {
  color: var(--lyla);
  font-family: var(--lyla);
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 150%;
  letter-spacing: normal;
  margin-top: 20px;
}

.plant-price {
  color: var(--lyla);
  font-family: var(--font-inter);
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 150%;
  letter-spacing: normal;
  margin-bottom: 20px;
}

.add-to-cart-btn {
  padding: 26px 50px;
  background-color: var(--forest-fire);
  color: var(--full-white);
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: normal;
  width: 100%;
  border: none;
}

/* FLOWER SECTION */
.flower-lover-section {
  margin-bottom: 100px;
}

.flower-lover-container {
  text-align: start;
  gap: 60px;
}

.flower-lover-image-wrapper {
  max-width: 540px;
  width: 100%;
  height: 600px;

  position: relative;
}

.flower-lover-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trusted-seller-badge {
  width: 280px;
  height: 280px;

  position: absolute;
  top: -126px;
  right: -91px;
}

.trusted-badge-image {
  display: block;
  width: 100%;
  object-fit: cover;
}

.flower-lover-content {
  max-width: 540px;
}

.flower-lover-title {
  color: var(--lyla);
  font-family: var(--font-nato-serif);
  font-weight: 700;
  font-size: 3.1rem;
  line-height: 100%;
  letter-spacing: normal;

  margin-top: 40px;
  margin-bottom: 20px;
}

.flower-lover-features li {
  list-style: disc;
}

.feature-item {
  color: var(--washed-out-purple);
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 100%;
  letter-spacing: normal;

  margin-bottom: 20px;
}

/* LATEST DEAL STYLES */
.latest-deals-section {
  margin-bottom: 120px;
}

.latest-deals-header {
  max-width: 840px;
  margin: 0 auto;
  text-align: center;
}

.latest-deals-title {
  font-family: var(--font-nato-serif);
  font-weight: 700;
  font-size: 3.1rem;
  line-height: 100%;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 16px;
}

.latest-deals-description {
  color: var(--washed-out-purple);
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 100%;
  letter-spacing: normal;
  text-align: center;

  margin-bottom: 120px;
}

.latest-deals-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 220px);
  column-gap: 30px;
}

.deal-card {
  position: relative;
}

.deal-card-overlay {
  text-align: center;
  position: absolute;
  top: 65px;
  left: 50px;
}

.deal-right-1 {
  margin-bottom: 25px;
}

.deal-card-image {
  border-radius: 14px;
}

.deal-card-large .deal-card-overlay {
  position: absolute;
  top: 190px;
  left: 170px;
}

.deal-card-title {
  color: #ffffff;
  font-family: var(--font-nato-serif);
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 100%;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 1rem;
}

.deal-card-button {
  color: #ffffff;
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: normal;
  text-decoration: underline;
  text-decoration-style: solid;
}

.right-deal-card-image {
  border-radius: 22px;
}

.deal-card-overlay .right-deal-card-title {
  color: #ffffff;
  font-family: var(--font-nato-serif);
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 100%;
  letter-spacing: normal;
  margin-bottom: 20px;
}

.deal-card-overlay .right-deal-card-button {
  color: #ffffff;
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 100%;
  letter-spacing: normal;
  text-decoration: underline;
  text-decoration-style: solid;
}

/* NEWSLETTER SECTION */

.newsletter-section {
  background-image: url("./assets/news-letter-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 533px;
  margin-bottom: 40px;

  display: flex;
  align-items: center;
}

.newsletter-content {
  max-width: 830px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.newsletter-title {
  color: #ffffff;
  font-family: var(--font-nato-serif);
  font-weight: 700;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: normal;
  text-align: center;

  margin-bottom: 23px;
}

.newsletter-form {
  display: flex;
  justify-content: space-between;
}

.newsletter-input {
  padding: 8px 20px;
  background-color: #ffffff;
  width: 100%;
  border: none;
  outline: none;

  color: var(--washed-out-purple);
  font-family: Inter;
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: normal;
}

.newsletter-button {
  max-width: 186px;
  padding: 26px 50px;
  background-color: var(--forest-fire);

  color: var(--full-white);
  font-family: Inter;
  font-weight: 600;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: normal;
  border: none;
  outline: none;
}

/* FOOTER SECTION STYLES */

/* RESPONSIVE STYLES */

/* FOR DESKTOPS */
@media (max-width: 1280px) {
}

/* FOR TABLETS */
@media (max-width: 1024px) {
  /* HERO */
  .fresh-flowers-container {
    margin: 40px auto;
  }

  .fresh-flowers-content .fresh-flowers-title {
    font-size: 3rem;
  }

  .fresh-flowers-content .fresh-flowers-description {
    font-size: 1rem;
  }

  /* PLANTS SECTION */
  .plants-grid {
    grid-template-columns: repeat(3, minmax(270px, 1fr));
  }

  /* FLOWER LOVER */
  .flower-lover-image-wrapper {
    flex: 1;
  }
  .flower-lover-content {
    flex: 1;
  }

  /* LATEST DEALS */
  .deals-small-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .deal-card-large {
    width: 90%;
    margin: 0 auto;
  }

  .latest-deals-grid {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}

/* FOR MOBILE */
@media (max-width: 768px) {
  /* HERO */
  .fresh-flowers-content .fresh-flowers-title {
    font-size: 2rem;
  }

  .fresh-flowers-content .fresh-flowers-description {
    font-size: 0.9rem;
  }

  .fresh-flowers-content {
    flex: 1;
  }
  .fresh-flowers-image-wrapper {
    flex: 1;
  }

  /* PLANTS SECTION */
  .plants-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .plants-section {
    margin: 0;
  }

  /* FLOWER LOVER */
  .flower-lover-container {
    flex-direction: column;
  }

  .flower-lover-image-wrapper {
    max-width: 100%;
  }
  .flower-lover-content {
    max-width: 100%;
  }

  .flower-lover-features {
    padding-inline: 30px;
  }

  .trusted-seller-badge {
    display: none;
  }

  /* LATEST DEALS */
  .deal-card-large {
    width: 100%;
    padding-right: 10px;
  }
}

/* FOR SMALL DEVICES */
@media (max-width: 480px) {
  /* NAVBAR */
  .header-container {
    padding-top: 1rem;
  }

  .main-navigation {
    display: none;
  }

  .brand-logo {
    width: 63px;
    height: 38px;
  }

  .brand-logo img {
    width: 100%;
    height: auto;
  }

  /* HERO */
  .fresh-flowers-container {
    flex-direction: column-reverse;
  }
  .fresh-flowers-section {
    padding-inline: 0px;
  }
  .fresh-flowers-content {
    max-width: 360px;
    margin: 0 auto 0 0;
    padding-inline: 1rem;
  }

  .fresh-flowers-title {
    font-size: 1.5rem;
    padding-bottom: 0.8rem;
  }

  .fresh-flowers-description {
    font-size: 0.8rem;
  }

  .fresh-flowers-image-wrapper {
    padding-block: 1.7rem;
  }

  /* PLANTS SECTION */

  .plants-section {
    margin: 0px;
  }

  .plants-header {
    max-width: 330px;
    text-align: center;
  }
  .plants-title {
    font-size: 1.5rem;
  }

  .plants-description {
    font-size: 0.8rem;
  }

  .plants-grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0px;
  }

  /* FLOWER LOVER SECTION */
  .flower-lover-container {
    flex-direction: column;
  }

  .flower-lover-image {
    width: 100%;
  }

  .flower-lover-title {
    font-size: 1.5rem;
  }

  .feature-item {
    font-size: 0.8rem;
  }

  /* LATEST DEALS */
  .deals-small-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .deal-card-large {
    width: 480px;
  }

  .right-deal-card-image {
    width: 100%;
  }

  .deal-card-small {
    width: 480px;
    padding-right: 10px;
  }

  .deal-card-image {
    width: 100%;
  }

  .deal-card-overlay {
    top: 100px;
    left: 130px;
  }

  .deal-card-large .deal-card-overlay {
    top: 100px;
    left: 30px;
  }
}
